.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
}

.essay-text {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 55%;
    color: #00c4b5;
    text-shadow: -1px -1px 0 #000, 5px 5px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@keyframes wheelHueColor {
    from,
    to {
        color: rgb(236, 100, 75);
    }
    10% {
        color: rgb(219, 10, 91);
    }
    20% {
        color: rgb(174, 168, 211);
    }
    30% {
        color: rgb(89, 171, 227);
    }
    40% {
        color: rgb(37, 116, 169);
    }
    50% {
        color: rgb(3, 201, 169);
    }
    60% {
        color: rgb(22, 160, 133);
    }
    70% {
        color: rgb(233, 212, 96);
    }
    80% {
        color: rgb(243, 156, 18);
    }
    90% {
        color: rgb(236, 240, 241);
    }
}

.festival-text {
    text-align: center;
    position: absolute;
    top: 20%;
    right: 55%;
    text-shadow: 2px rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: wheelHueColor 10s infinite !important;
    text-align: center;
    transform: translateY(-50%);
    text-shadow: -1px -1px 0 #000, 5px 5px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.banner h1 {
    font-size: 90px;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner-img2 {
    width: 100%;
    max-width: 100%;
}

.banner-img1 {
    position: absolute;
    max-width: 5%;
    animation: updown 3s linear infinite;
    top: 650px;
    left: 670px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.txt-rotate>.wrap {
    border-right: 0.08em solid #666;
}

.register-button {
    border: none;
    padding: 0.5em 1.5em;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: fixed;
    top: 85%;
    right: 25px;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    border-radius: 10em;
}

.register-button:before,
.register-button:after {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10em;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient( 60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
}

.register-button:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
}

.register-button:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
}

.register-button:hover:before {
    width: 105%;
    height: 105%;
}